<template>
    <div class="container" >
        <ogv-page-header page-title="Technik"></ogv-page-header>

        <div class="row mt-4">

            <h3>Versionsverwaltung</h3>
            <b-link target="_blank" href="https://gitlab.com/schnurlei/ogv-hompage-cli3">GitLab</b-link>
            <h3>Frontend-CSS-Framework</h3>
            <b-link target="_blank" href="https://getbootstrap.com//">Bootstrap</b-link>
            <h3>JavaScript-Webframework für  Single-Page-Webanwendungen</h3>
            <b-link target="_blank" href="https://vuejs.org/">Vue.js</b-link>
            <h3>Icons</h3>
            <b-link target="_blank" href="https://fontawesome.com/">Fontawsome</b-link>
            <b-link target="_blank" href="https://fontawesome.com/license">Fontawsome License</b-link>



        </div>
    </div>
</template>