<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/blueimp-gallery@2.27.0/css/blueimp-gallery.min.css">
    <title>Obst - und Gartenbauverein (OGV) Schiessen e.V.</title>
    <meta name="description" content="Alles rund um den Obst- und Gartenbauverein (OGV) Schiessen.
            Informationen über unseren Verein und Termine und Neuigkeiten rund ums Gärtnern"/>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ogv-schiessen.de doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      <h1>Obst - und Gartenbauverein (OGV) Schiessen</h1>
      <h2>Willkommen beim Obst- und Gartenbauverein Schießen e.V.</h2>
      <div> <em>"..enrich everyone's life through plants and make the UK a greener, more beautiful place."</em>

        Das ist das Motto der Royal Horticultural Society und es beschreibt auch passend das Motto unserer Gartenbauvereine:
        <b>Unsere Dörfer und Städte grüner und lebenswerter zu machen und das Leben
        von allen Menschen durch Pflanzen und Gärten zu verschönern.</b>

        Wir glauben, dass Blumen, Käuter, Bäume und alle anderen Pflanzen einen wichtigen Beitrag dazu leisten,
        dass Menschen sich wohler und gesünder fühlen.

        Es ist eine Freude, im Frühjahr einen blühenden Baum zu bestaunen, im Sommer sich an duftenden Blumen zu erfreuen
        und im Herbst sein selbst angebautes Gemüse zu genießen.

        Als Obst- und Gartenbauverein wollen wir dazu unseren Beitrag leisten.
        Wir freuen uns, wenn auch Sie dabei mithelfen würden.
      </div>
      <img src="verein/Schiessen2.JPG" alt="Sonnenaufgang Schiessen" class="img-thumbnail">
      <h2>Vorteile als Mitglied</h2>
      <ul>
        <li>Beratung in Gartenfragen durch unsere Gartenpfleger und <a href="http://www.landkreis.neu-ulm.de/de/kreisfachberatung/kreisfachberatung-20001151.html" target="_blank" title="Kreisfachberater">Kreisfachberater</a></li>
        <li>Schnitt- und Pflanzkurse sowie Gartenbegehungen</li>
        <li>Ausleihmöglichkeit von Gartengeräten</li>
        <li>Vereinsausflüge und Lehrfahrten</li>
        <li>Teilnahme an Fachvorträgen, Seminaren und Kursen</li>
        <li>Erfahrungsaustausch und Geselligkeit</li>
        <li>Fachinformationen des <a href="http://www.gartenbauvereine.org/fachinformationen/" target="_blank" title="Dachverband">Dachverbandes</a></li>
      </ul>
      <h2>Verbände</h2>
      <ul>
        <li><a href="http://www.gartenbauvereine.org/" target="_blank">Landesverband</a></li>
        <li><a href="https://www.gartenbauvereine-schwaben.de/" target="_blank">Bezirksverband</a></li>
        <li><a href="http://www.landkreis.neu-ulm.de/de/kreisverband-fuer-gartenbau-und-landespflege.html" target="_blank">Kreisverband</a></li>
      </ul>
    </noscript>

    <div id="appId" >
      <div id="headerId" >
        <ogv-header></ogv-header>
      </div>
      <main class="container-fluid">
        <router-view></router-view>
      </main>
      <footer id="footerId" class="footer">
        <ogv-footer>
        </ogv-footer>
      </footer>
    </div>

    <!-- built files will be auto injected -->
  </body>
</html>
