<template>
    <div class="table" >
        <scaling-squares-spinner v-if="loading"
                :animation-duration="1250"
                :size="65"
                :color="'#4c5c3a'"
        />
        <div v-if="loadError">Fehler beim Lesen der Daten</div>
        <div v-if="!loading" v-html="compiledMarkdown"></div>
    </div>
</template>

<script>

import {ScalingSquaresSpinner} from 'epic-spinners'


export default {

    name: 'ogv-markdown',
    props: ['markdownurl'],
    components: {
        ScalingSquaresSpinner
    },
    data: function () {
       return {
            markdownText: '',
            loading: false,
            loadError: false
        }
     },
     computed: {

       compiledMarkdown: function () {
         if(this.markdownText) {
             return this.$marked(this.markdownText, { sanitize: true })
         } else {
             return 'No Data'
         }

       }
     }, 
     created: function() {
         // eslint-disable-next-line
        console.log("URL****** "+ this.markdownurl);
         this.loadMarkdown(this.markdownurl);
    },
     watch: {
         markdownurl: function (newMarkdwonUrl, oldMarkdwonUrl) {
             // eslint-disable-next-line
             console.log('new: %s, old: %s', newMarkdwonUrl, oldMarkdwonUrl);
             this.loadMarkdown(newMarkdwonUrl);
         }
     },
     methods: {
         loadMarkdown: function (newMarkdwonUrl) {
             if (newMarkdwonUrl) {
                 const controller = new AbortController();
                 const signal = controller.signal;
                 setTimeout(() => controller.abort(), 5000);
                 this.loading = true;
                 this.loadError = false;
                 var myRequest = new Request(newMarkdwonUrl);
                 fetch(myRequest, {signal})
                     .then(response => {
                         this.loading = false;
                         if(response.ok) {

                             this.loadError = false;
                             return response.text();
                         } else {
                             // eslint-disable-next-line
                             console.log('Respose ERROR');
                             this.loadError = true;
                             return null;
                         }
                     })
                     .then(responseText => this.markdownText = responseText)
                     // eslint-disable-next-line
                     .catch(error => {
                         this.loading = false;
                         this.loadError = true;
                     });
             } else {
                 this.markdownText = null;
             }
         }
     }

}
</script>
