<template>

  <div id="main">
    <ogv-header></ogv-header>
    <main role="main" class="container-fluid">
      <router-view></router-view>
    </main>
    <ogv-footer></ogv-footer>
  </div>
</template>


<script>
</script>

<style>
  @import '../node_modules/leaflet/dist/leaflet.css';
</style>
